@tailwind base;
@tailwind components;
@tailwind utilities;

#__next,
html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    @apply font-sans
}


* {
    box-sizing: border-box;
}

.dark {
    body {
        background-color: black;
        color: white;
    };
}

.night-mode-toggle {
    &.react-toggle--checked .react-toggle-track {
        background-color: white;
    }
    &.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
        background-color: theme('colors.gray.700');
    }
    &.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
        background-color: theme('colors.gray.300');
    }
    &.react-toggle--checked .react-toggle-thumb {
        border-color: black;
        background-color: black;
    }
    &.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb, &.react-toggle--focus .react-toggle-thumb {
        box-shadow: 0px 0px 2px 2px theme('colors.blue.500');
    }
    .react-toggle-track {
        background-color: black;
    }


}
